@import "../Variables.scss";
.Rules {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: $font;
  width: 100%;
  .Rules_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    font-size: 0;
    transition: all 0.5s ease;
    div {
      width: 0;
      header {
        width: 0;
        padding: 0;
        h2 {
          font-size: 0;
        }
        .Button_header {
          font-size: 0;
          width: 0;
          padding: 0;
          display: none;
        }
      }
      picture {
        height: 0;
      }
      img {
        width: 0;
      }
    }
  }
  .Button_rules {
    margin-right: 25px;
    background-color: transparent;
    border: 2px solid white;
    height: 50px;
    width: 100px;
    font-size: 16px;
    font-family: $font;
    color: white;
    cursor: pointer;
  }
  .Active {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.561);
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      background-color: white;
      width: 500px;
      height: 500px;
      border-radius: 10px;
      header {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        padding: 0 10%;
        justify-content: space-between;
        font-size: 26px;
        h2 {
          letter-spacing: 1.5px;
          font-size: 1.5em;
        }
        .Button_header {
          background-color: transparent;
          padding: 2px 5px;
          border: none;
          font-size: 1.3em;
          cursor: pointer;
          display: block;
        }
      }
      picture {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 80%;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 610px) {
  .Rules {
    .Active {
      div {
        height: 50%;
        width: 80%;
        header {
          font-size: 20px;
        }
      }
    }
  }
}
