@import "../Variables.scss";
.Score {
  width: 50%;
  min-width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  font-family: $font;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.52);

  .Score_count {
    height: 100%;
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    h2 {
      font-weight: lighter;
      color: rgb(15, 15, 78);
    }
    p {
      color: rgb(153, 145, 145);
      font-size: 45px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 610px) {
  .Score {
    min-width: 100%;
    padding: 10px 15px;
  }
}
