.Choose {
  width: 60%;
  min-width: 410px;
  position: relative;
  display: grid;
  align-self: start;
  margin-top: 50px;
  height: 400px;
}

@media screen and (min-width: 320px) and (max-width: 610px) {
  .Choose {
    width: 80%;
    min-width: 100%;
    // margin-top: 50px;
  }
}
