@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$font: "Bebas Neue", cursive;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#App {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 140px 1fr 100px;
  height: 100vh;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 20px 10px;
}

body {
  background-color: rgb(10, 10, 54);
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
